# --- Общие ---
.env
.env.*
*.log
*.tmp
*.swp

# --- OS ---
.DS_Store
Thumbs.db

# --- IDE ---
.vscode/
.idea/
*.iml

# --- Node ---
node_modules/

# --- Build ---
dist/
build/

# --- Docker ---
docker-compose.override.yml

# --- Nginx ---
nginx/logs/